.character-card {
    margin:  0 10%;
    padding: 10px;
    height: 90%;
    width: 80%;
    background-color: rgb(228, 227, 227);
    border-radius: 20px;
    border: 5px solid #CCC;
}

input {
    width: 700px;
    height: 30px;
    border-radius: 10px;
    text-align: center;
}

table {
    margin-top: 15px;
    width: 100%;
}

.search {
    display: flex;
    justify-content: center;
}

.btnSearch {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    text-align: center;
    cursor: pointer;
}

.formulario {
    display: flex;
    flex-direction: column;
}

.image {
    width: 300px;
    height: auto;
}

.data-character {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}